


#signupbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2{:style => " margin-top:50px"}
  .panel.panel-info
    .panel-heading
      .panel-title=t('devise.singup')      
    .panel-body
      %form#new_user.new_user.form-horizontal{"accept-charset" => "UTF-8", :action => "/", :method => "post"} 
        %input{:name => "utf8", :type => "hidden", :value => "✓"}/
        %input{:name => "authenticity_token", :type => "hidden", :value => "VE93SLZ2C4XLRd0f87wF1Nh4fbInyJq1qRBlbQMlsv1N5Ju0ffSHaVnStiA+Cu4270Sf66yEdPVJ+XWIta34xQ=="}  

        .form-group
          %label.col-md-3.control-label{:for => "email"} Email
          .col-md-9
            %input#user_email.form-control{:name => "user[email]", :placeholder => "Email", :type => "text"}/
        .form-group
          %label.col-md-3.control-label{:for => "user_name"}=t('menu.name')
          .col-md-9
            %input#user_name.form-control{:name => "user[name]", :placeholder => I18n.t('menu.name'), :type => "text"}/
        .form-group
          %label.col-md-3.control-label{:for => "user_gender"}=t('devise.gender')
          .col-md-9
            %select#user_gender.selectpicker.form-control{:name => "user[gender]"}
              %option{:value => "1"}=t('devise.male')
              %option{:value => "2"}=t('devise.female')
        .form-group
          %label.col-md-3.control-label{:for => "password"}=t('devise.pass')
          .col-md-9
            %input#user_password.form-control{:name => "user[password]", :placeholder => I18n.t('devise.pass'), :type => "password"}
        .form-group
          %label.col-md-3.control-label{:for => "user_password_confirmation"}= t('devise.passcofirm')
          .col-md-9
            %input.form-control{:name => "user[password_confirmation]", :placeholder => I18n.t('devise.passcofirm'), :type => "password"}
        .form-group
          / Button
          .col-md-offset-3.col-md-9
            %button.btn.btn-info{:type => "submit", :name=>"commit"}             
              Sign Up
            %span{:style => "margin-left:8px;"}
        .form-group{:style => "border-top: 1px solid #999; padding-top:20px"}
          .col-md-offset-3.col-md-9
            = render "devise/shared/links"
            