.container  
  .col-md-4.column.fill.bg-success
    %h3 Order Session
    = render 'list_order_sessions'
  .col-md-4.column.fill
    %h3 List Store
    = render 'list_stores'
  .col-md-4.column.fill.bg-success
    %h3 List User(Quick login)
    = render 'list_users'