!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FoodOrder
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-static-top

      .container-fluid
        .navbar-header
          %a.navbar-brand{:href => "#"} Food Order

          %button.navbar-toggle{ "data-toggle"=>"collapse"  , "data-target" =>".navHeaderCollapse" } 
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            
        .navbar-collapse.collapse.navbarHaeaderCollapse
          %ul.nav.navbar-nav.navbar-right
            %li.active
              %a{:href=>"#"} Home 
            %li
              %a{:href=>"#"} Blog 
            %li.dropdown
              %a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown"} Social Media
              %b.caret
              %ul
                %li
                  %a{:href=>"#"} Twitter
                %li
                  %a{:href=>"#"} Facebook
                %li
                  %a{:href=>"#"} Google+
              
            %li
              %a{:href=>"#"} Cocial media 
            %li
              %a{:href=>"#"} About 
            %li
              %a{:href=>"#"} Contact 
            
    = yield